@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity

<div class="jumbotron">
    <h1>CrowdPlay</h1>
    
@if (Request.IsAuthenticated)
{
    <div class="col-md-4">
        <audio id="player" controls autoplay preload="auto">
            <source src="http://localhost:8080/room/1/stream" type='audio/mpeg'>
            <p>Your user agent does not support the HTML5 Audio element.</p>
        </audio>
    </div>
    <div class="col-md-4">
        <ul>
    @foreach (var mood in ViewBag.Moods)
    {
            <li id="mood-@mood">@mood</li>
    }
        </ul>
    </div>
}
else
{
    <p>Login to listen to the radio!</p>
}
</div>

<div class="row">
    <div class="col-md-4">

    </div>
</div>